
#########################################
# Name your machine: 				   	#
#########################################
HOST_MACHINE_NAME=

#################################################
#   Your own public domain for real SSL certs?  #
#################################################		
MY_DOMAIN=

#########################################
# Where are your critical directories? 	#
#########################################
CONFIG=/path/to/config-directory/for/all/services
VAULTS=${CONFIG}/vaults
MEDIA=/path/to/media-drive/for/jellyfin

#################################
#   TRAEFIK / SSL  Defaults.	#
#################################
#	Safe to overwrite			#
HOST=${HOST_MACHINE_NAME:-bully}
DOCKER_NETWORK=${HOST}_default
PUBLIC_HOST=${MY_DOMAIN:-localhost}
#	Don't overwrite				#
PRIVATE_HOST=${HOST}